  .rud{
   height:800px;
   width:1520px;
  }
  .App {
    position: absolute;
    width: 600px;
    height: 400px;
    left: 506px;
    top: 204px;
   background-color: #f0f0f0;
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .name {
    position: absolute;
    width: 100px;
    height: 20px;
  
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 14px;
    top: 44px;
    left: 140px;
  
    display: flex;
    align-items: center;
  
    color: #000000;
  }
  .user {
    position: absolute;
    width: 300px;
    height: 32px;
    left: 140px;
    top: 90px;
  
    background: #ffffff;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
  }
  #title {
    margin-left: 60px;
    font-family: Roboto,sans-serif;
  }
  #cap {
    top: 150px;
  }
  .pro {
    width: 120px;
    height: 28px;
    margin-left: 230px;
    margin-top: 200px;
    color: #ffffff;
    text-align: center;
    background: #02428c;
    border-radius: 4px;
  }
  #btn {
    margin-top: 10px;
  }
  